*.md liguist-detectable
README.md -linguist-documentation
# * linguist-documentation=false
# * linguist-vendored
# practice/*/*.py linguist-vendored=false
# example/*/*.py linguist-vendored=false
practice/* linguist-documentation=false
practice/* linguist-vendored
example/* linguist-documentation=false
example/* linguist-vendored
