*.md liguist-detectable
README.md -linguist-documentation
# * linguist-documentation=false
# * linguist-vendored
# practice/*/*.py linguist-vendored=false
# example/*/*.py linguist-vendored=false
practice/**/*.py linguist-documentation=false
practice/**/*.py linguist-vendored
example/**/*.py linguist-documentation=false
example/**/*.py linguist-vendored
